@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.card {

    position: relative;
    height: 40rem;
    max-width: 400px;

    box-shadow: none;
    background: none;
}

.card-side {

    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;

    color: white
}

.card-side.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: url("https://source.unsplash.com/random")
}

.card-side.front {
    background-color: #0093E9;
    background-image: url("https://source.unsplash.com/random")
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}